.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#connexion {
    background-color: #f1c40f;
}

#forum {
    background-color: #3498db;
}

#chat {
    background-color: #2ecc71;
}

#accueil {
    background-color: #e74c3c;
}

h2, p {
    margin: 0;
    color: white;
}
